body {
    background-color:rgb(240, 244, 247) ;
}

.centered {
    width: fit-content;
    margin: auto;
}

h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(54, 54, 54);
}

.password-result {
    height: 140px;
    width: 700px;
    border: 3px dashed rgb(203, 215, 226);
    border-radius: 10px;
}

button {
    background-color: rgb(196, 27, 27);
    border-radius: 40px;
    font-size: 20px;
    height: 50px;
    width: 250px;
    margin: 10px;
    color: white;
}

.section2 {
    margin-top: 40px;
    box-shadow:rgb(174, 176, 179) 0px 4px 10px 0px;
    padding: 30px;
    background-color: white;
}

.placeholder {
    color:rgb(156, 158, 160);
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

hr {
    border:1px solid rgb(203, 215, 226)
}




